.font-weight-bold {
    font-weight: bold !important;
}
.font-style-italic {
    font-style: italic !important;
}
.text-decoration-underline {
    text-decoration: underline !important;
}
.text-decoration-line-through {
    text-decoration: line-through !important;
}
.text-decoration-underline.text-decoration-line-through {
    text-decoration: underline line-through !important;
}
.text-align-left {
    text-align: left !important;
}
.text-align-center {
    text-align: center !important;
}
.text-align-right {
    text-align: right !important;
}